<a href="https://colab.research.google.com/github/Metallicode/Math/blob/main/intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

##Series

In [ ]:
nums = ["a", "b", "c", "d"]

In [ ]:
pd_s = pd.Series(nums)

In [ ]:
type(pd_s)

pandas.core.series.Series

In [ ]:
pd_s

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
pd_s[2]

'c'

In [ ]:
index_names = ["first", "second", "third", "fourth"]
pd_s = pd.Series(nums, index_names)

In [ ]:
pd_s

first     a
second    b
third     c
fourth    d
dtype: object

In [ ]:
pyDict = {"Bob":5, "Bill":4, "John":7}
pd.Series(pyDict)

Bob     5
Bill    4
John    7
dtype: int64

In [ ]:
pd_01 = pd.Series([1,2,3,4])
pd_02 = pd.Series([5,6,7,8])

pd_01 + pd_02 #Same as numpy

0     6
1     8
2    10
3    12
dtype: int64

In [ ]:
pyDict1 = pd.Series({"Bob":5, "Bill":4, "Mark":7})
pyDict2 = pd.Series({"Dan":2, "Bill":4, "John":7})

pyDict1 + pyDict2 #this will return NaN on all values not present on both Series

Bill    8.0
Bob     NaN
Dan     NaN
John    NaN
Mark    NaN
dtype: float64

In [ ]:
pyDict1.add(pyDict2, fill_value=0)

Bill    8.0
Bob     5.0
Dan     2.0
John    7.0
Mark    7.0
dtype: float64

##DataFrames - Basic

In [ ]:
data = np.random.randint(0,50, (3,4))
data

array([[17, 45,  4, 37],
       [26, 42, 41, 20],
       [15,  3, 39, 32]])

In [ ]:
pd.DataFrame(data)

    0   1   2   3
0  17  45   4  37
1  26  42  41  20
2  15   3  39  32

In [ ]:
index = ["biil", "bob", "ben"]
col_names = ["1st","2nd","3rd","4th"]

In [ ]:
df = pd.DataFrame(data, index=index, columns=col_names)
df

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, biil to ben
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1st     3 non-null      int64
 1   2nd     3 non-null      int64
 2   3rd     3 non-null      int64
 3   4th     3 non-null      int64
dtypes: int64(4)
memory usage: 120.0+ bytes

In [ ]:
df = pd.read_csv("tips.csv")
df

In [ ]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')

In [ ]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [ ]:
df.tail()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [ ]:
df.describe()

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563496e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040731e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525318e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596454e+15

In [ ]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
total_bill,244.0,1.978594e+01,8.902412e+00,3.070000e+00,1.334750e+01,1.779500e+01,2.412750e+01,5.081000e+01
tip,244.0,2.998279e+00,1.383638e+00,1.000000e+00,2.000000e+00,2.900000e+00,3.562500e+00,1.000000e+01
size,244.0,2.569672e+00,9.510998e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,6.000000e+00
price_per_person,244.0,7.888197e+00,2.914234e+00,2.880000e+00,5.800000e+00,7.255000e+00,9.390000e+00,2.027000e+01
CC Number,244.0,2.563496e+15,2.369340e+15,6.040679e+10,3.040731e+13,3.525318e+15,4.553675e+15,6.596454e+15

[Standard Deviation](https://en.wikipedia.org/wiki/Standard_deviation)

##DataFrames - Columns

In [ ]:
df["total_bill"]

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [ ]:
df[["total_bill", "tip"]]

In [ ]:
#get % of tip from bill
100 * df["tip"] / df["total_bill"]

In [ ]:
df["tip_percent"] = 100 * df["tip"] / df["total_bill"]

In [ ]:
df.head()

In [ ]:
df["tip_per_person"] =  np.round(df["tip"] / df["size"], 2)
df

In [ ]:
df.drop("Payer Name", axis=1) #this will not change the df, but will return a new df

##DataFrames - Rows

In [ ]:
df.set_index("Payment ID") #this will not change the df, but will return a new df

In [ ]:
df = df.set_index("Payment ID")  #this will change the df
df.head()

KeyError: ignored

In [ ]:
df.reset_index() #this will not change the df, but will return a new df

In [ ]:
df[1] #Error (DataFrame is not a Series)

In [ ]:
#to index a row by number use iloc
df.iloc[0] #we can grab multiple rows using silce notation

total_bill                       16.99
tip                               1.01
sex                             Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number             3560325168603410
tip_per_person                     0.5
tip_percent                   5.944673
Name: Sun2959, dtype: object

In [ ]:
df.loc["Sat2657"] #we can grab multiple rows using a list of indecies ["Sat2657", "Sat1766"]

##Filtering Rows

In [ ]:
df["tip"] > 5 #this returns a series object with boolean values

Payment ID
Sun2959    False
Sun4608    False
Sun4458    False
Sun5260    False
Sun2251    False
           ...
Sat2657     True
Sat1766    False
Sat3880    False
Sat17      False
Thur672    False
Name: tip, Length: 244, dtype: bool

In [ ]:
df[df["tip"] > 5] #this will filter our df based on the boolean series

In [ ]:
df[(df["tip"] > 5) | (df["sex"] == "Male")]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,tip_per_person,tip_percent
Payment ID,,,,,,,,,,,,
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,0.55,16.054159
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,1.17,16.658734
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,1.66,13.978041
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,213140353657882,1.18,18.623962
Sun5985,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2223727524230344,1.00,22.805017
...,...,...,...,...,...,...,...,...,...,...,...,...
Sat5032,12.60,1.00,Male,Yes,Sat,Dinner,2,6.30,Matthew Myers,3543676378973965,0.50,7.936508
Sat2929,32.83,1.17,Male,Yes,Sat,Dinner,2,16.42,Thomas Brown,4284722681265508,0.58,3.563814
Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,1.97,20.392697
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,1.00,8.822232
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,0.88,9.820426

In [ ]:
#if we a checking for specific values to filter on the same col we can:
values = ["Sun", "Sat"]
df[df["day"].isin(values)]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,tip_per_person,tip_percent
Payment ID,,,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,0.50,5.944673
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,0.55,16.054159
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,1.17,16.658734
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,1.66,13.978041
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,0.90,14.680765
...,...,...,...,...,...,...,...,...,...,...,...,...
Sat9777,35.83,4.67,Female,No,Sat,Dinner,3,11.94,Kimberly Crane,676184013727,1.56,13.033771
Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,1.97,20.392697
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,1.00,7.358352
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,1.00,8.822232
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,0.88,9.820426

In [ ]:
#apply a function to a column

def myFunc(val):
  return val + 100

#df["total_bill"] = df["total_bill"].apply(myFunc)
df["total_bill"].apply(myFunc)

Payment ID
Sun2959    116.99
Sun4608    110.34
Sun4458    121.01
Sun5260    123.68
Sun2251    124.59
            ...
Sat2657    129.03
Sat1766    127.18
Sat3880    122.67
Sat17      117.82
Thur672    118.78
Name: total_bill, Length: 244, dtype: float64

In [ ]:
#apply a function on several cols

def TipQuality(total_bill,tip):
  if tip/total_bill > 0.3:
    return "Nice"
  else:
    return "Sad"


df[["total_bill","tip"]].apply(lambda df: TipQuality(df["total_bill"], df["total_bill"]), axis=1)

Payment ID
Sun2959    Nice
Sun4608    Nice
Sun4458    Nice
Sun5260    Nice
Sun2251    Nice
           ...
Sat2657    Nice
Sat1766    Nice
Sat3880    Nice
Sat17      Nice
Thur672    Nice
Length: 244, dtype: object

In [ ]:
df

Vectorizing a function means transforming it so that it can operate on entire arrays of data at once, rather than just on single elements. This is done to improve performance by taking advantage of the low-level vectorized hardware instructions, and to enable cleaner and more readable code. Instead of writing a loop to apply a function to each element of an array one at a time, a vectorized function can process the whole array at once.

In [ ]:
#using vectorize will give the result but is more efficient

df["Quality"] = np.vectorize(TipQuality)(df["total_bill"], df["total_bill"])

In [ ]:
df

##Pandas Methods

In [ ]:
df = pd.read_csv("tips.csv")

In [ ]:
df.sort_values('tip')
#df.sort_values('tip', ascending=False)  ##use ascending to change order

In [ ]:
df.sort_values(['tip', 'size']) #sort first by tip and then by size

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
67,3.07,1.00,Female,Yes,Sat,Dinner,1,3.07,Tiffany Brock,4359488526995267,Sat3455
111,7.25,1.00,Female,No,Sat,Dinner,1,7.25,Terri Jones,3559221007826887,Sat4801
92,5.75,1.00,Female,Yes,Fri,Dinner,2,2.88,Leah Ramirez,3508911676966392,Fri3780
236,12.60,1.00,Male,Yes,Sat,Dinner,2,6.30,Matthew Myers,3543676378973965,Sat5032
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
...,...,...,...,...,...,...,...,...,...,...,...
141,34.30,6.70,Male,No,Thur,Lunch,6,5.72,Steven Carlson,3526515703718508,Thur1025
59,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6596453823950595,Sat8139
23,39.42,7.58,Male,No,Sat,Dinner,4,9.86,Lance Peterson,3542584061609808,Sat239
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,676218815212,Sat4590
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5473850968388236,Sat1954

In [ ]:
df['total_bill'].max() ## get max (or 'min') to get the min/max row based on given col

50.81

In [ ]:
df['total_bill'].idxmax() ##get the index of max (or min)

170

**correlation**  -1, 1

When you’re analyzing correlation, you should always have in mind that correlation does not indicate causation. It quantifies the strength of the relationship between the features of a dataset. Sometimes, the association is caused by a factor common to several features of interest.


more on pandas [correlation](https://www.w3schools.com/python/pandas/pandas_correlations.asp)

[full article](https://realpython.com/numpy-scipy-pandas-correlation-python/#correlation)

In [ ]:
df.corr()

value_counts() will work only on [ Categorical data ](https://en.wikipedia.org/wiki/Categorical_variable)

In [ ]:
df['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [ ]:
#get unique values
df['day'].unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [ ]:
#get the number of unique values
df['day'].nunique()

4

replaceing values

In [ ]:
df['day'].replace(['Sun', 'Sat', 'Thur', 'Fri'],[1,7,5,6])

In [ ]:
sexMap = {"Female":"F", "Male":"M"}
df['sex'].map(sexMap)

0      F
1      M
2      M
3      M
4      F
      ..
239    M
240    F
241    M
242    M
243    F
Name: sex, Length: 244, dtype: object

Find duplicated rows

In [ ]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Length: 244, dtype: bool

In [ ]:
df.drop_duplicates()

Find column values between two values

In [ ]:
df['tip'].between(5,12,inclusive=True)

#df[df['tip'].between(5,12,inclusive=True)] #can be used as a filter

In [ ]:
#get the N largest rows based on <Col> (allso nsmallest)
df.nlargest(3, "size")

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
125,29.80,4.2,Female,No,Thur,Lunch,6,4.97,Angela Sanchez,503857080488,Thur3948
141,34.30,6.7,Male,No,Thur,Lunch,6,5.72,Steven Carlson,3526515703718508,Thur1025
143,27.05,5.0,Female,No,Thur,Lunch,6,4.51,Regina Jones,4311048695487,Thur6179

In [ ]:
df.sample(5) #get a N sized random sample of the rows

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
221,13.42,3.48,Female,Yes,Fri,Lunch,2,6.71,Leslie Kaufman,379437981958785,Fri7511
85,34.83,5.17,Female,No,Thur,Lunch,4,8.71,Shawna Cook,6011787464177340,Thur7972
19,20.65,3.35,Male,No,Sat,Dinner,3,6.88,Timothy Oneal,6568069240986485,Sat9213
160,21.50,3.50,Male,No,Sun,Dinner,4,5.38,Travis Gonzalez,3527668419764685,Sun245
50,12.54,2.50,Male,No,Sun,Dinner,2,6.27,Jeremiah Neal,2225400829691416,Sun2021

In [ ]:
df.sample(frac=.02)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
125,29.80,4.20,Female,No,Thur,Lunch,6,4.97,Angela Sanchez,503857080488,Thur3948
199,13.51,2.00,Male,Yes,Thur,Lunch,2,6.76,Joseph Murphy MD,6547218923471275,Thur2428
175,32.90,3.11,Male,Yes,Sun,Dinner,2,16.45,Nathan Reynolds,370307040837149,Sun5109
42,13.94,3.06,Male,No,Sun,Dinner,2,6.97,Bryan Brown,36231182760859,Sun1699
124,12.48,2.52,Female,No,Thur,Lunch,2,6.24,Jordan Diaz,4472778228206399,Thur208

##Missing Data

basically we can:

*   keep rows with missing data as-is.
*   remove them.
*   replace the missing data.

In [ ]:
df = pd.read_csv('movie_scores.csv')

In [ ]:
df

  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              NaN               NaN
2       Hugh   Jackman  51.0    m              NaN               NaN
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0

In [ ]:
df.isnull() #check for null values

In [ ]:
df.notnull() #check for not null values

In [ ]:
##remove rows with 'pre_movie_score' null values
df[df['pre_movie_score'].notnull()]

  first_name last_name   age sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0   m              8.0              10.0
3      Oprah   Winfrey  66.0   f              6.0               8.0
4       Emma     Stone  31.0   f              7.0               9.0

In [ ]:
#remove rows with missing data
df.dropna() #will remove rows where all cols a null
df.dropna(thresh=2) #will remove rows at least 2 columns are not null

  first_name last_name   age sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0   m              8.0              10.0
2       Hugh   Jackman  51.0   m              NaN               NaN
3      Oprah   Winfrey  66.0   f              6.0               8.0
4       Emma     Stone  31.0   f              7.0               9.0

In [ ]:
df.fillna('value') #fill all NaN with the same (string) value

  first_name last_name    age    sex pre_movie_score post_movie_score
0        Tom     Hanks   63.0      m             8.0             10.0
1      value     value  value  value           value            value
2       Hugh   Jackman   51.0      m           value            value
3      Oprah   Winfrey   66.0      f             6.0              8.0
4       Emma     Stone   31.0      f             7.0              9.0

In [ ]:

#fill values on a specific column
df['pre_movie_score'].fillna(0)

0    8.0
1    0.0
2    0.0
3    6.0
4    7.0
Name: pre_movie_score, dtype: float64

In [ ]:

#calculate mean of existing col values and use this fot NaN substitution
df['pre_movie_score'].fillna(df['pre_movie_score'].mean())

0    8.0
1    7.0
2    7.0
3    6.0
4    7.0
Name: pre_movie_score, dtype: float64

Use interpolation for creating missing data.

In [ ]:
data = {"a":30,"b":np.nan,"c":60}
S = pd.Series(data)
S

a    30.0
b     NaN
c    60.0
dtype: float64

In [ ]:
S.interpolate()

a    30.0
b    45.0
c    60.0
dtype: float64

##Group by

use groupby in cases you want to preform aggregation functions based on categorical data.

In [ ]:
df = pd.read_csv('mpg.csv')

In [ ]:
df

In [ ]:
df.groupby('model_year') #this returns a DataFrameGroupBy object ready for a aggregation function

In [ ]:
df.groupby('model_year').mean() #notic model_year will become our index

[Documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#built-in-aggregation-methods)


any()

Compute whether any of the values in the groups are truthy

all()

Compute whether all of the values in the groups are truthy

count()

Compute the number of non-NA values in the groups

cov() *

Compute the covariance of the groups

first()

Compute the first occurring value in each group

idxmax() *

Compute the index of the maximum value in each group

idxmin() *

Compute the index of the minimum value in each group

last()

Compute the last occurring value in each group

max()

Compute the maximum value in each group

mean()

Compute the mean of each group

median()

Compute the median of each group

min()

Compute the minimum value in each group

nunique()

Compute the number of unique values in each group

prod()

Compute the product of the values in each group

quantile()

Compute a given quantile of the values in each group

sem()

Compute the standard error of the mean of the values in each group

size()

Compute the number of values in each group

skew() *

Compute the skew of the values in each group

std()

Compute the standard deviation of the values in each group

sum()

Compute the sum of the values in each group

var()

Compute the variance of the values in each group

In [ ]:
#groupby more then one column
df.groupby(['model_year','cylinders']).mean()
#notic we will have now multi-level index

In [ ]:
year_cyl = df.groupby(['model_year','cylinders']).mean()
year_cyl.index

In [ ]:
year_cyl.index.names

FrozenList(['model_year', 'cylinders'])

In [ ]:
#all possible years & all possible cylinders
year_cyl.index.levels
#not all combinations are valid

FrozenList([[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], [3, 4, 5, 6, 8]])

In [ ]:
year_cyl.loc[80]

In [ ]:
year_cyl.loc[[80, 81]] #get by using level 1 index (year in our case)

In [ ]:
year_cyl.loc[(80,4)] #use multi-level index (year 80 & 4 cylinders)

In [ ]:
#using cross-section to index on inner index levels
year_cyl.xs(key=4, level='cylinders')

In [ ]:
#swap levels ordering
year_cyl.swaplevel()

In [ ]:
#sorting based on inner level
year_cyl.sort_index(level='cylinders', ascending=False)

In [ ]:
df.agg(['mean', 'std'])

<ipython-input-6-844d60651451>:1: FutureWarning: ['horsepower', 'name'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.agg(['mean', 'std'])

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055

In [ ]:
df.agg({'mpg':['mean', 'std'],'weight':['var'] })

            mpg         weight
mean  23.514573            NaN
std    7.815984            NaN
var         NaN  717140.990526

##Combining DataFrames

In [ ]:
df1 = pd.DataFrame([['a','b'],['c', 'd']])
df2 = pd.DataFrame([['e', 'f'],['g', 'h']])

print(df1)
print()
print(df2)

   0  1
0  a  b
1  c  d

   0  1
0  e  f
1  g  h

In [ ]:
combined = pd.concat([df1,df2])

In [ ]:
combined.iloc[[1]] #we will have problem trying to use the index for "e f" and "g h"
#combined.index = np.arange(0, len(combined)) ## this will fix it
#combined

In [ ]:
combined = pd.concat([df1,df2], axis=1)
combined

   0  1  0  1
0  a  b  e  f
1  c  d  g  h

In [ ]:
combined.columns = np.arange(0, len(combined.columns))

In [ ]:
combined

   0  1  2  3
0  a  b  e  f
1  c  d  g  h

Merge

In [ ]:
df1 = pd.DataFrame([["moo",".8"],["blig", ".7"],["plop", ".45"]])
df2 = pd.DataFrame([["moo","45"],["flig", "645"],["plop", "23"]])

df1.index = ['a','b','c']
df2.index = ['d','e','f']

df1.columns = ['X','Y']
df2.columns = ['X','Y']


print(df1)
print()
print(df2)

      X    Y
a   moo   .8
b  blig   .7
c  plop  .45

      X    Y
d   moo   45
e  flig  645
f  plop   23

###Inner Join

In [ ]:
df1.merge(df2, how='inner', on='X')

      0  1_x 1_y
0   moo   .8  45
1  plop  .45  23

In [ ]:
pd.merge(left=df1, right=df2, how='left', on='X')

      X  Y_x  Y_y
0   moo   .8   45
1  blig   .7  NaN
2  plop  .45   23

In [ ]:
pd.merge(left=df1, right=df2, how='right', on='X')

      X  Y_x  Y_y
0   moo   .8   45
1  flig  NaN  645
2  plop  .45   23

In [ ]:
pd.merge(left=df1, right=df2, how='outer', on='X')

      X  Y_x  Y_y
0   moo   .8   45
1  blig   .7  NaN
2  plop  .45   23
3  flig  NaN  645

In [ ]:
##inverse_inner_join


# Perform inner join to find common rows
inner_join = df1.merge(df2, how='inner', on='X')

# Find rows in A that are not in the inner join
A_not_in_B = df1[~df1['X'].isin(inner_join['X'])]

# Find rows in B that are not in the inner join
B_not_in_A = df2[~df2['X'].isin(inner_join['X'])]

# Combine the results (i.e., concatenate A_not_in_B and B_not_in_A)
inverse_inner_join = pd.concat([A_not_in_B, B_not_in_A], ignore_index=True)

# Print the result
print(inverse_inner_join)

In [ ]:
print(df1['X'].isin(df2['X']))
print(~df1['X'].isin(df2['X']))

a     True
b    False
c     True
Name: X, dtype: bool
a    False
b     True
c    False
Name: X, dtype: bool

**left_on, right_on**

The left_on and right_on parameters are extremely useful when the two DataFrames you want to merge don't have columns with the same name to join on, or when you want to join on multiple columns with different names in the two DataFrames.

In [ ]:


# Create two DataFrames with columns that we want to join on,
# but the columns have different names in each DataFrame
data1 = {'EmployeeID': [1, 2, 3, 4],
         'EmployeeName': ['Alice', 'Bob', 'Charlie', 'David']}
data2 = {'Emp_ID': [3, 4, 5, 6],
         'Salary': [70000, 80000, 75000, 60000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge the DataFrames using the `left_on` and `right_on` parameters
result = pd.merge(df1, df2, left_on='EmployeeID', right_on='Emp_ID', how='inner')

# Print the result
print(result)

   EmployeeID EmployeeName  Emp_ID  Salary
0           3      Charlie       3   70000
1           4        David       4   80000

##Text Methods

basically vectorized python str methods.

In [ ]:
str_s = pd.Series(["dan", "mar,k", "   edi"])

In [ ]:
str_s.str.capitalize()

0       Dan
1     Mar,k
2       edi
dtype: object

In [ ]:
print(str_s.str.strip()[0])
print(str_s.str.strip()[1])
print(str_s.str.strip()[2])

dan
mar,k
edi

In [ ]:
str_s.str.replace(",", "")

0       dan
1      mark
2       edi
dtype: object

In [ ]:
import re
str_s.apply(lambda s: re.sub(r'[^a-zA-Z]', '', s))

0     dan
1    mark
2     edi
dtype: object

##Time Methods

In [ ]:
dates = pd.Series(["1st of may 2023", "oct, 23 90", "1-3-18"])

In [ ]:
pd_date = pd.to_datetime(dates)

In [ ]:
print(pd_date[0])
print(type(pd_date[0]))
print(type(pd_date[0]))

Timestamp('2023-05-01 00:00:00')

In [ ]:
pd_date.dt.year

0    2023
1    1990
2    2018
dtype: int64

##Pandas Input/Output Data

In [ ]:
df = pd.DataFrame({"A":1,"B":2,"C":3}, index=["y","z"])

In [ ]:
df = pd.DataFrame({"A":[3,4,5],"B":[3,4,5],"C":[3,4,5]}, index=["x","y","z"])

In [ ]:
df

   A  B  C
x  3  3  3
y  4  4  4
z  5  5  5

In [ ]:
df.to_csv("myFile.csv")

In [ ]:
tables = pd.read_html("https://en.wikipedia.org/wiki/ARIA_Award_for_Music_Teacher_of_the_Year")

In [ ]:
tables[1]

,Year,Winner,School
0,2017 (31st),NaN,NaN
1,2017 (31st),Renee McCarthy,Woodcroft College
2,2017 (31st),Julie Layt,"Crescent Lagoon State School, West Rockhampton..."
3,2017 (31st),Stephen Mcewan,Bellarine Secondary College
4,2017 (31st),Alex Manton,Asquith Girls High School
5,2018 (32nd),NaN,NaN
6,2018 (32nd),Scott Maxwell,Grant High School
7,2018 (32nd),Becky Hall,"Education Institute, Royal Children's Hospital"
8,2018 (32nd),Dean Harawira,Nerang State High School
9,2018 (32nd),Deborah Skelton,"Caladenia Primary School, Canning Vale, Wester..."
10,2019 (33rd),NaN,NaN
11,2019 (33rd),Antonio Chiappetta,St Andrews College
12,2019 (33rd),Bel Skinner,North Regional TAFE
13,2019 (33rd),Julie Rennick,"Gunnedah Conservatorium, Gunnedah"
14,2019 (33rd),Lee Strickland,Narbethong State Special School
15,2020 (34th),NaN,NaN
16,2020 (34th),Sarah Donnelley,"Wilcannia Central School, Wilcannia"
17,2020 (34th),Thomas Fienberg,"Evans High School, Blacktown"
18,2020 (34th),Kathryn McLennan,"Virginia State School, Virginia, Queensland"
19,2020 (34th),CJ Shaw,"Palmerston District Primary School, Palmerston..."
20,2021 (35th),NaN,NaN
21,2021 (35th),Zoë Barry,"Sacred Heart School, Fitzroy"
22,2021 (35th),Ashley Baxter,Pimlico State High School
23,2021 (35th),Aaron Silver,"Wodonga Primary School, Wodonga"
24,2021 (35th),Daniel Wilson,"Star Struck, Newcastle"
25,2022 (36th),NaN,NaN
26,2022 (36th),Matt Orchard,"Apollo Bay P-12 College, Apollo Bay VIC"
27,2022 (36th),David Collins-White,"Haberfield Public School, Haberfield NSW"
28,2022 (36th),Jane Nicholas,"Willandra Primary School, Seville Grove WA"
29,2022 (36th),Kath Dunn,"Wollondilly Public School, Goulburn NSW"

In [ ]:
tables[1].to_html('data.html',index=False)

##Connect to db

In [ ]:
!pip install --upgrade pandas
!pip install --upgrade sqlalchemy

In [ ]:
from sqlalchemy import create_engine

meme_db = create_engine("sqlite:///:memory:")

In [ ]:
meme_db

Engine(sqlite:///:memory:)

**save a table to sqlite db**

In [ ]:
my_table = tables[1]

In [ ]:
my_table.to_sql(name="myTable",con=meme_db)

30

**read from sql db**

In [ ]:
d = pd.read_sql(sql="myTable",con=meme_db)

In [ ]:
d

**pivot_data**

The pivot_table function allows you to specify columns whose unique values will become the new column headers and rows whose unique values will become the new row indices, along with one or more columns whose data will be aggregated using a specified function (such as 'mean', 'sum', 'count', etc.).

In [ ]:

# Sample sales data
data = {'Date': ['2023-08-01', '2023-08-01', '2023-08-02', '2023-08-02', '2023-08-03'],
        'Product': ['A', 'B', 'A', 'A', 'B'],
        'Sales': [100, 150, 200, 50, 300]}

df = pd.DataFrame(data)

# The raw data looks like this:
print(df)

         Date Product  Sales
0  2023-08-01       A    100
1  2023-08-01       B    150
2  2023-08-02       A    200
3  2023-08-02       A     50
4  2023-08-03       B    300

In [ ]:
pivot_table = pd.pivot_table(df, values='Sales', index='Date', columns='Product', aggfunc='sum', fill_value=0)

# The resulting pivot table looks like this:
print(pivot_table)

The unique values of the Date column become the index (row labels) of the pivot table, the unique values of the Product column become the columns of the pivot table, and the Sales values are summed wherever they share the same Date and Product. We specified fill_value=0, so any missing values (where a product wasn't sold on a particular date) are filled with zeros.

You can apply multiple aggregation functions at once by passing a list to the aggfunc parameter. For example:

In [ ]:
pivot_table = pd.pivot_table(df, values='Sales', index='Date', columns='Product', aggfunc=['sum', 'mean'], fill_value=0)
print(pivot_table)

            sum      mean
Product       A    B    A    B
Date
2023-08-01  100  150  100  150
2023-08-02  250    0  125    0
2023-08-03    0  300    0  300